:root {
    --primary-color: #017EF3;
    --primary-color-hover: #3498F5;
    --text-color-white: #fff;
    --text-color-link: #0866ff;
    --text-color-big: #212121;
    --text-color-middle: #484646;
    --text-color-small-font: #999999;
    --text-color-icon: #484646;
    --text-color-background: #f7f7f7;
    --text-color-border: #EAECF0;
    --text-color-sidebar: #CCE5FD;
    --color: #0064d1;

    --fiv-neutral-100: #EEEFF1;
    --fiv-neutral-200: #DADDE7;
    --fiv-neutral-300: #F1F2F8;
    --fiv-neutral-400: #E8EAF1;
    --fiv-neutral-500: #E3E6EF;
    --fiv-neutral-600: #DEE1EB;
    --fiv-neutral-700: #CDD0DA;
    --fiv-neutral-800: #C9CBCF;
    --fiv-neutral-900: #A0A1A7;
    --fiv-neutral-1000: #868A98;
    --fiv-neutral-1100: #666978;
    --fiv-neutral-1200: #1B1F35;

    --fiv-secondary-25: #F8F5FE;
    --fiv-secondary-50: #F0ECFD;
    --fiv-secondary-100: #E1D8FB;
    --fiv-secondary-200: #C4B1F7;
    --fiv-secondary-300: #A68AF3;
    --fiv-secondary-400: #8963EF;
    --fiv-secondary-500: #6B3CEB;
    --fiv-secondary-600: #6036D4;
    --fiv-secondary-700: #5630BC;
    --fiv-secondary-800: #4B2AA5;

    --fiv-gray-25: #F9FAFB;
    --fiv-gray-50: #F5F6F7;
    --fiv-gray-100: #EAECF0;
    --fiv-gray-200: #D6DAE1;
    --fiv-gray-300: #C1C7D1;
    --fiv-gray-400: #ADB5C2;
    --fiv-gray-500: #98A2B3;
    --fiv-gray-600: #8E99AA;
    --fiv-gray-700: #808B9C;
    --fiv-gray-800: #758195;
    --fiv-gray-outline: #D6DAE1;
    --fiv-gray-divider: #EAECF0;
    --fiv-gray-neutral: #FAFAFA;

    --fiv-primary-25: #F2F9FE;
    --fiv-primary-50: #E6F2FE;
    --fiv-primary-100: #CCE5FD;
    --fiv-primary-200: #99CBFA;
    --fiv-primary-300: #67B2F8;
    --fiv-primary-400: #3498F5;
    --fiv-primary-500: #017EF3;
    --fiv-primary-600: #0171DB;
    --fiv-primary-700: #0165C2;
    --fiv-primary-800: #0158AA;

    --fiv-success-25: #F3FAF8;
    --fiv-success-50: #E8F5F1;
    --fiv-success-100: #D1EAE4;
    --fiv-success-200: #A3D6C9;
    --fiv-success-300: #74C1AD;
    --fiv-success-400: #46AD92;
    --fiv-success-500: #189877;
    --fiv-success-600: #16896B;
    --fiv-success-700: #137A5F;
    --fiv-success-800: #116A53;

    --fiv-warning-25: #FFF9F3;
    --fiv-warning-50: #FEF4E6;
    --fiv-warning-100: #FDE8CD;
    --fiv-warning-200: #FBD29C;
    --fiv-warning-300: #F9BB6A;
    --fiv-warning-400: #F7A539;
    --fiv-warning-500: #F58E07;
    --fiv-warning-600: #DC8006;
    --fiv-warning-700: #C47206;
    --fiv-warning-800: #AC6305;

    --fiv-red-25: #FDF5F3;
    --fiv-red-50: #FCEBE6;
    --fiv-red-100: #F8D6CE;
    --fiv-red-200: #F1AE9D;
    --fiv-red-300: #EB856B;
    --fiv-red-400: #E45D3A;
    --fiv-red-500: #F04438;
    --fiv-red-600: #C72F08;
    --fiv-red-700: #B12A07;
    --fiv-red-800: #9B2406;

    --fiv-dark-25: #F0F0F1;
    --fiv-dark-50: #D9DADC;
    --fiv-dark-100: #C0C2C4;
    --fiv-dark-200: #8D9095;
    --fiv-dark-300: #5A5F66;
    --fiv-dark-400: #2C3C4E;
    --fiv-dark-500: #253241;
    --fiv-dark-600: #1C2732;
    --fiv-dark-700: #151D26;
    --fiv-dark-800: #11171D;
  }