:root {
    --primary-color: #3498db;
    --primary-color-hover: #2d89c7;
    --text-color-white: #fff;
    --text-color-link: #0866ff;
    --text-color-big: #212121;
    --text-color-middle: #484646;
    --text-color-small-font: #999999;
    --text-color-icon: #484646;
    --text-color-background: #f7f7f7;
    --text-color-sidevar: #f7e5e5cf;
    --color: #0064d1;
  }